In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#data preprocess
df = pd.read_csv(r'C:\Users\Hamza\Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
#selecting dependent and independent
x = df.drop(labels=['RowNumber','CustomerId','Surname','Exited'],axis=1) #these are independent columns
y = df['Exited']

In [5]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [6]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [7]:
#encoding catigoral data
from sklearn.preprocessing import LabelEncoder

In [8]:
label_1 = LabelEncoder()

In [9]:
x['Geography'] = label_1.fit_transform(x['Geography'])

In [10]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,Female,42,2,0.00,1,1,1,101348.88
1,608,2,Female,41,1,83807.86,1,0,1,112542.58
2,502,0,Female,42,8,159660.80,3,1,0,113931.57
3,699,0,Female,39,1,0.00,2,0,0,93826.63
4,850,2,Female,43,2,125510.82,1,1,1,79084.10

In [11]:
label_2 = LabelEncoder()

In [12]:
x['Gender'] = label_1.fit_transform(x['Gender'])

In [13]:
x.head(7)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10
5,645,2,1,44,8,113755.78,2,1,0,149756.71
6,822,0,1,50,7,0.00,2,1,1,10062.80

In [14]:
#Avoiding the dummpy variable to trap
x = pd.get_dummies(x,drop_first=True,columns=['Geography'])

In [15]:
x.head(7)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_1,Geography_2
0,619,0,42,2,0.00,1,1,1,101348.88,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,1
5,645,1,44,8,113755.78,2,1,0,149756.71,0,1
6,822,1,50,7,0.00,2,1,1,10062.80,0,0

In [16]:
#split data into train and test set
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [18]:
#feature sacling
from sklearn.preprocessing import StandardScaler

In [19]:
sc = StandardScaler()

In [20]:
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [21]:
x_train

array([[ 0.16958176, -1.09168714, -0.46460796, ...,  1.10643166,
        -0.5698444 ,  1.74309049],
       [-2.30455945,  0.91601335,  0.30102557, ..., -0.74866447,
         1.75486502, -0.57369368],
       [-1.19119591, -1.09168714, -0.94312892, ...,  1.48533467,
        -0.5698444 , -0.57369368],
       ...,
       [ 0.9015152 ,  0.91601335, -0.36890377, ...,  1.41231994,
        -0.5698444 , -0.57369368],
       [-0.62420521, -1.09168714, -0.08179119, ...,  0.84432121,
        -0.5698444 ,  1.74309049],
       [-0.28401079, -1.09168714,  0.87525072, ...,  0.32472465,
         1.75486502, -0.57369368]])

In [22]:
x_test

array([[-0.56129438, -1.11339196, -0.39401698, ...,  1.62185911,
         1.62776996, -0.57427105],
       [-1.33847768, -1.11339196,  0.07611425, ...,  0.504204  ,
        -0.61433742, -0.57427105],
       [ 0.58347561, -1.11339196,  0.26416674, ..., -0.41865644,
        -0.61433742,  1.74133801],
       ...,
       [-0.76084144,  0.8981563 , -0.29999074, ...,  0.72775202,
        -0.61433742,  1.74133801],
       [-0.0046631 ,  0.8981563 , -0.48804323, ..., -1.54162886,
         1.62776996, -0.57427105],
       [-0.81335383,  0.8981563 , -0.86414821, ...,  1.62356528,
         1.62776996, -0.57427105]])

In [23]:
#Buliding the model
model = tf.keras.models.Sequential()

In [24]:
#adding input layers aand first hidden layer
#no of nodes = 6 units
#activation function = relu
#input dimention = 11 

model.add(tf.keras.layers.Dense(units=6,activation='relu', input_dim = 11))

In [25]:
#add 2nd hidden layer
model.add(tf.keras.layers.Dense(units=6,activation='relu'))

In [26]:
#output layers
model.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

In [27]:
#Complie the model
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [28]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 72

 dense_1 (Dense)             (None, 6)                 42

 dense_2 (Dense)             (None, 1)                 7

=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [29]:
#train the model
model.fit(x_train,y_train.to_numpy(), batch_size=10,epochs=20)

Epoch 1/20
800/800 [==============================] - 2s 1ms/step - loss: 0.4922 - accuracy: 0.7980
Epoch 2/20
800/800 [==============================] - 1s 2ms/step - loss: 0.4362 - accuracy: 0.8126
Epoch 3/20
800/800 [==============================] - 1s 1ms/step - loss: 0.4273 - accuracy: 0.8145
Epoch 4/20
800/800 [==============================] - 1s 2ms/step - loss: 0.4228 - accuracy: 0.8199
Epoch 5/20
800/800 [==============================] - 1s 2ms/step - loss: 0.4201 - accuracy: 0.8234
Epoch 6/20
800/800 [==============================] - 1s 1ms/step - loss: 0.4174 - accuracy: 0.8245
Epoch 7/20
800/800 [==============================] - 1s 1ms/step - loss: 0.4144 - accuracy: 0.8255
Epoch 8/20
800/800 [==============================] - 1s 2ms/step - loss: 0.4113 - accuracy: 0.8271
Epoch 9/20
800/800 [==============================] - 1s 2ms/step - loss: 0.4074 - accuracy: 0.8278
Epoch 10/20
800/800 [==============================] - 1s 2ms/step - loss: 0.4035 - accuracy: 0.8295
Epoch 11/20
800/800 [==============================] - 2s 3ms/step - loss: 0.4007 - accuracy: 0.8301
Epoch 12/20
800/800 [==============================] - 2s 2ms/step - loss: 0.3979 - accuracy: 0.8313
Epoch 13/20
800/800 [==============================] - 1s 2ms/step - loss: 0.3957 - accuracy: 0.8315
Epoch 14/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3916 - accuracy: 0.8338
Epoch 15/20
800/800 [==============================] - 1s 2ms/step - loss: 0.3868 - accuracy: 0.8325
Epoch 16/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3829 - accuracy: 0.8378
Epoch 17/20
800/800 [==============================] - 1s 2ms/step - loss: 0.3785 - accuracy: 0.8411
Epoch 18/20
800/800 [==============================] - 1s 2ms/step - loss: 0.3748 - accuracy: 0.8438
Epoch 19/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3716 - accuracy: 0.8450
Epoch 20/20
800/800 [==============================] - 1s 2ms/step - loss: 0.3688 - accuracy: 0.8481

In [30]:
# model eveloatiion and prediction
test_loss , test_acc = model.evaluate(x_test,y_test.to_numpy())

63/63 [==============================] - 0s 1ms/step - loss: 0.3587 - accuracy: 0.8530

In [32]:
print('Test Accuracy : {}'.format(test_acc))

Test Accuracy : 0.8529999852180481

In [34]:

# Assuming you have imported the necessary libraries and defined your model

# Make predictions
y_pred_probs = model.predict(x_test)
y_pred = np.argmax(y_pred_probs, axis=1)

In [37]:
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [36]:
print(y_test)

9394    0
898     1
2398    0
5906    0
2343    0
       ..
1037    0
2899    0
9549    0
2740    0
6690    0
Name: Exited, Length: 2000, dtype: int64